<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png" />
    <title>Error</title>
</head>

<body>
    <h1>Error</h1>
    <div id="error-status">
        <p>Status: <%= error.status %>
        </p>
        <p>Message: <%= error.message %>
        </p>
        <h3>Base de Datos</h3>
        <p>Status: <%= error.database.status %>
        </p>
        <p>Message: <%= error.database.message %>
        </p>
        <p>Error: <%= error.database.error %>
        </p>
        <p>Timestamp: <%= error.timestamp %>
        </p>
    </div>
</body>

</html>